.left {float: left;}

.right {float: right;}

.box {
    border: 1px solid #AAAAAA;
}

.battle {
    position: relative;
    width: 640px;
    height: 575px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    top: 0;
    left: 0;
    transform-origin: top left;
    -webkit-transform-origin: top left;
}

.history .table thead th {
    border-top: 0;
}

.history {
    position: absolute;
    top: 50px;
    left: 640px;
    right: 0;
    bottom: 40px;
    height: auto;
    width: auto;
    word-wrap: break-word;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    overflow-y: scroll;
}

.chatbox {
    position: absolute;
    bottom: 0;
    left: 640px;
    right: 0;
    height: 40px;
    border-bottom: 0;
    border-right: 0;
    padding-top: 7px;
    padding-left: 7px;
}

.chat-name {
    width: 86px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}

.chat-input {
    position: absolute;
    right: 7px;
    left: 100px;
    bottom: 4px;
}

#turnNumber {
    position: absolute;
    left: 10px;
    font-size: 150%;
    padding: 0 5px 0 5px;
}

#nextMove {
     margin: 10px;
}

.cards {
    clear: both;
    width: 640px;
    margin: 0 0 0 0;
}

.barno img {
    /* Default Outline */
    border-radius: 5px;

    /* Darker Outline */
    /*border:1px solid #000000;*/
    /*border-radius: 6px;*/

    cursor: pointer;
    width: 100%;
}

.cards img:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

body .barno {
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 10px;
}

.turn-row {
    background-color: #f9f9f9;
}

.turn {
    font-size: 150%;
}

#history td {
    border-top: 0;
    padding: 0px 0px 0px 8px;
}

#history .turn-row td {
    padding: 8px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.player-area {
    background-color: lightgray;
    position: absolute;
    right: 20%;
    left: 20%;
    border: 1px solid grey;
    border-radius: 8px 8px 0 0;
    border-bottom-width: 0;
    height: 15%;
}

.player-bottom {
    bottom: 0;
}

.player-top {
    transform: rotate(180deg);
}

.player-area .barno img {
    width: 25% !important;
    margin-top: -200px;
}

#attack {
    position: absolute;
    top: 42%;
    bottom: 42%;
    right: 42%;
    left: 42%;
    display: none;
}

#takeDamage {
    position: absolute;
    bottom: 1%;
    right: 1%;
}